In [1]:
import numpy as np
import pandas as pd

In [12]:
dat = [["Numpy NaN", np.NaN]
      ,["Numpy NaN 2", np.nan]
      ,["Pandas 'Not Available'", pd.NA]
      ,["Pandas 'Not a Time'", pd.NaT]
      ,["Python None", None]
      ,["A String that just says 'NaN'", "NaN"]]

df = pd.DataFrame(dat)
df

                               0     1
0                      Numpy NaN   NaN
1                    Numpy NaN 2   NaN
2         Pandas 'Not Available'  <NA>
3            Pandas 'Not a Time'   NaT
4                    Python None  None
5  A String that just says 'NaN'   NaN

In [13]:
df.dropna()

                               0    1
5  A String that just says 'NaN'  NaN