In [ ]:
import sqlite3 as sql

In [ ]:
# This is our connection to the database itself (think client <-> server)
db_conn = sql.connect("test.db")

In [ ]:
# a 'cursor' lets you keep track of intermediate results/tables. Can be useful, but there are some drawbacks!
cursor = db_conn.cursor()

In [ ]:
# As mentioned last lecture, you have to think of the schema up front:

cursor.execute("""
CREATE TABLE pets (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age REAL
)""")

#Capitalization doesn't matter, but this is idiomatic

In [ ]:
my_pets = [(1, 'Sofie', 5.9),
           (2, 'Pippin', 3.2),
           (3, 'Billi', 18.2),
           (4, 'Neko', 12.1),
           (5, 'Koshka', 10),
           (6, 'Kisu', 10)]

In [ ]:
# If your data is in a python structure, you can iterate and insert
# (or serialize to a file and import)

for p in my_pets:
    cursor.execute(f"INSERT INTO pets VALUES {p}")

In [ ]:
# When you change the database, you have to 'commit' when you've reached a desired state
db_conn.commit()

In [ ]:
# you can execute arbitrary SQL:
cursor.execute("SELECT * FROM pets")

In [ ]:
# Fetch all 'flushes' the results of our query (pointed to by our cursor)
rows = cursor.fetchall()

In [ ]:
rows[4]

In [ ]:
# The previous fetchall() already flushed all the intermediate results
rows_empty = cursor.fetchall()

In [ ]:
rows_empty[4]

In [ ]:
cursor.execute("SELECT * FROM pets WHERE age < 5")

In [ ]:
young_rows = cursor.fetchall()
for r in young_rows:
    print(r)

In [ ]:
for r in cursor.execute("SELECT * FROM pets WHERE age < 5"):
    print(r)

In [ ]:
# Be careful with what's pointing to a Python value and what's pointing to the DB
for r in rows:
    print(r)

In [ ]:
# Multiple cursors can point to the same database, be careful!
curse2 = db_conn.cursor()

In [ ]:
for r in cursor.execute("SELECT * FROM pets"):
    print(r)

In [ ]:
for r in curse2.execute("SELECT * FROM pets"):
    print(r)

In [ ]:
cursor.execute("DELETE FROM pets WHERE id == 6")
db_conn.commit()

In [ ]:
for r in curse2.execute("SELECT * FROM pets"):
    print(r)

In [ ]:
cursor.execute("INSERT INTO pets VALUES (7, 'Sasha', 3.5)")

In [ ]:
insert_fetch = cursor.fetchall()

In [ ]:
insert_fetch

In [ ]:
for r in curse2.execute("SELECT * FROM pets"):
    print(r)